
/* ------- Global ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Cinzel", serif;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}


/* ------ Header ------- */

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

header h1 {
    font-size: 3rem;
    margin-bottom:  10px;
    font-weight: 800;
}

header p {
    font-size: 1.2rem;
    opacity: 0.8;
}



/* ------ Main ------ */

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_buttons {
    display: flex;
    gap: 40px;
}


/* ------ Buttons ------- */

.button {
    padding: 22px 56px;
    border-radius: 999px;
    font-size: 1.4rem;
    color: #0f172a;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: 0.25 ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35);
}

.button:hover {
    transform: translate(-3px) scale(1.04);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}


.button.portfolio {
    background: linear-gradient(35deg, #a16207, #ca8a04);
}

.button.portfolio:hover {
    background: linear-gradient(135deg, #d97706, #facc15);
}


.button.cv {
    background: linear-gradient(35deg, #5b21b6, #6d28d9);
}

.button.cv:hover {
    background: linear-gradient(135deg, #7c3aed, #9333ea);
}



/* ------- Footer ------- */
footer {
    background: linear-gradient(135deg, #1e293b, #0f172a);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    text-align: center;
    padding: 10px;
    color: #94a3b8;
    margin-top: 60px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
